---
layout: default
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{% if page.title != "About" %}{{ site.description }}{% endif %}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <div class="project" id="react_redux_app">
          <!-- TODO: Insert image -->

        <div class="project-description">
          <h2>React-Redux Image Browsing App</h2>
          <p>
            <strong>Released: </strong>
            December 2017
          </p>
          <p>
            An Imgur browsing site that includes user pages of favorite images. This site utilizes the Imgur API,
            Ruby on Rails, and the Faraday gem on the back-end. Client-side routing uses reactrouter and RESTful principles.
            Redux Thunk middleware also responds to and modifies state changes.
          </p>

          <div class="project-links">
            <h3><strong>Find Out More:</strong></h3>
              <ul>
                  <li><a href="https://youtu.be/gXasw0yhi7Y">Video</a></li>
                  <li><a href="http://isabelcoder.com/react_redux_app">Article</a></li>
                  <li><a href="https://github.com/IsabelVazquez/React-Redux">GitHub</a></li>
                  <li><a href="https://imgurtest.herokuapp.com/">Live Demo</a></li>
                  <li>Login to demo with email: tester@tester.com and password: tester</li>
              </ul>
          </div>

        </div>
      </div>

      <div class="project" id="ruby_on_rails_app">
          <!-- TODO: Insert image -->

        <div class="project-description">
          <h2>Rails Recipe CMS</h2>
          <p>
            <strong>Released: </strong>
            November 2017
          </p>
          <p>
            A recipe sharing community catering to various cuisines and time constraints. This CMS leverages
            jQuery and JavaScript for AJAX functionality. The development build utilizes the SQLite database schema
            and configured ActiveRecord associations. The production build on Heroku relies on PostgreSQL.
            OmniAuth for OAuth authentication with Facebook can be configured on the development build.
          </p>

          <div class="project-links">
            <h3><strong>Find Out More:</strong></h3>
              <ul>
                  <li><a href="http://isabelcoder.com/jquery_rails_portfolio_project">Article (Rails & JavaScript Version)</a></li>
                  <li><a href="http://isabelcoder.com/rails_project">Article (Rails Only Version)</a></li>
                  <li><a href="https://github.com/IsabelVazquez/recipe-app">GitHub</a></li>
                  <li><a href="https://railsrecipesite.herokuapp.com/">Live Demo</a></li>
                  <li>Login to demo with email: tester@tester.com and password: tester</li>
              </ul>
          </div>
        </div>
      </div>
      </div>

      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="project" id="sinatra_app">

          <!-- TODO: Insert image -->

        <div class="project-description">
          <h2>Writing To-do List App</h2>
          <p>
            <strong>Released: </strong>
            November 2017
          </p>
          <p>An app for creating lists while being inspired by other writers’ to-do lists.
            The app implements Sinatra and MVC pattern for the front-end. Dynamic error messages leverage
            ActiveRecord validations and models. Users have hashed passwords through Bcrypt gems.
          </p>

          <div class="project-links">
            <h3><strong>Find Out More:</strong></h3>
              <ul>
                  <li><a href="http://isabelcoder.com/sinatra_portfolio_project">Article</a></li>
                  <li><a href="https://github.com/IsabelVazquez/sinatra-writing-app">GitHub</a></li>
                  <li><a href="https://sinatra-writing-app.herokuapp.com/">Live Demo</a></li>
                  <li>Login to demo with username: tester and password: tester</li>
              </ul>
          </div>

        </div>
      </div>

    <div class="project" id="personal_app">
        <!-- TODO: Insert image -->

        <div class="project-description">
          <h2>isabelcoder.com</h2>
          <p>
            <strong>Released: </strong>
            July 2017
          </p>
          <p> Personal website built on Jekyll, hosted on GitHub Pages, and developed with Atom.
          </p>

          <div class="project-links">
            <h3><strong>Find Out More:</strong></h3>
              <ul>
                  <li><a href="http://isabelcoder.com/">GitHub</a></li>
              </ul>
          </div>
        </div>
    </div>

    </div>
  </div>
</main>
